{% extends 'BlogArticle/base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<br/><br/>
<div class='container'>
    
    <div class='form-group'>
        <form method="POST">
            {% csrf_token %}

            <br/><br/><br/>
            <div class="container text-center" style="width: 30rem;">                    
                <div class="text-center"> 
                    <div class="sidebar-widget subscribe mb-5">
                        <h4 class="text-center widget-title">Login</h4>
                        <div class="d-grid gap-2">
                            <input type="text" class="form-control" placeholder="Email Address" name="username">
                        <br/>
                            <input type="password" class="form-control" placeholder="Email Address" name="password">
                        <br/>
                            <button class="btn btn-primary mt-3">Login</button>
                        </div>
                        <hr>
                            <a href="{% url 'register' %}" class="btn btn-secondary btn-lg d-block mt-3">Registrasion</a>
                    </div>          
                </div>
            </div>

    </div>
</div>
<br/><br/><br/>
{% endblock content %}


